{% ckan_extends %}


{% block package_notes %}
    {# this block will be overwriten by scheming/package/read.html if the scheming extension is being used #}
    {%- if not dataset_type -%}
    <p>
    dataset_type not passed to template. your version of CKAN
    might not be compatible with ckanext-scheming
    </p>
    {%- endif -%}
    {% if ( h.scheming_field_by_name(schema.dataset_fields, 'notes') or h.scheming_field_by_name(schema.dataset_fields, 'notes_translated') ) and h.get_translated(pkg, 'notes') %}
    <div class="notes embedded-content">
        {{ h.render_markdown(h.get_translated(pkg, 'notes')) }}
    </div>
    {% endif %}
    {% if pkg.res_extras_keywords_restricted or pkg.res_extras_eov_restricted %}
        <p>
            <h3>This dataset contains restricted information</h3>
            You can contact the dataset owner to request access
        </p>
    {% endif %}

{% endblock %}

  {% block package_tags %}
    {% if pkg.res_extras_keywords_restricted %}
        <p>
        Open Variables:
        </p>
        {% snippet "package/snippets/tags.html", tags=pkg.tags %}
        <p>
        Restricted Variables:
        </p>
        {% snippet "package/snippets/tags.html", tags=pkg.res_extras_keywords_restricted['en'] %}
    {% else %}
        {% snippet "package/snippets/tags.html", tags=pkg.tags %}
    {% endif %}
  {% endblock %}